$YellowBg: #ffa132;
/*=======================================
Header Area Start
=======================================*/
header.headerArea {
    img {
        height: 50px;
    }
}
/*=======================================
silder Area
=======================================*/

/*=======================================
silder Area
=======================================*/


.dotIcon div {
    width: 10px;
    height: 10px;
    background: lightgray;
    margin: 2px;
    border-radius: 4px;
}

.dotIcon div.active {
    width: 25px;
    background: $YellowBg;
}

.card_area {
    img {
        width: 250px;
        margin: 0 auto;
    }
    .card{
        box-shadow: 5px 5px 10px #ddd;
        border:none;
        transition: .5s all ease;
        &:hover{
            transform: scale(1.1);
            box-shadow: 5px 5px 10px #000;
        }
    }
}
.heading_area{
    a{
        color:$YellowBg
    }
}
.single_categories img {
    width: 100%;
    height: 250px;
    display: block;
}
